.main_c_al{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 2.8125rem 0 2.8125rem;
    gap: 2.5rem;
    margin-bottom: 4.8125rem;
}

.main_c_al img{
    width: 100%;
    height: auto;
    border-radius: 0.9rem;
}

.map{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 2.8125rem 0 2.8125rem;
    gap: 2.5rem;
    margin-bottom: 4.8125rem;

    & h2{
        width: 100%;
    }
}

iframe{
    height: 11.9rem;
    border: none;
    border-radius: 1rem;
}